<div class="panel-info">
    <div class="row">
        <div class="col-xs-6">
            <h3>{{ 'Übungsschwerpunkt ermitteln'|trans({}, 'FitbaseUserBundle') }}</h3>

            {#sadfasdf {{ category.slug }}#}


        </div>
    </div>
</div>
