<!-- footer-->
<div class="container">

    <!-- Wiguets Footer-->
    <div class="row">

        <div class="col-xs-10">
            <img src="/image/logo_footer.png" alt="fitbase.de"/>
            <br/>
            <br/>
        </div>
        <div class="col-xs-10">
            <p>
                {{ 'company.footer_copyright'|trans({ 'date': "now"|date("Y") }, 'FitbaseCompanyBundle') }}
            </p>
        </div>

    </div>
    <!-- End Wiguets Footer-->
</div>