<div class="row">
    <!-- Logo-->
    <div class="col-md-2 logo">
        <a title="Return Home" href="/">
            {% set logo = '/image/logo.png' %}

            {% if company is defined and company %}
                {% if company.image is defined and company.image %}
                    {% set logo = null %}
                    {% thumbnail company.image, 'thumbnail' with {'width': null, 'class': 'img-responsive'} %}
                {% endif %}
            {% endif %}

            {% if logo is defined and logo %}
                <img src="{{ logo }}" class="img-responsive"/>
            {% endif %}
        </a>
    </div>
    <!-- End Logo-->

    <!-- Adds Header-->
    <div class="col-md-10">
        <!-- mainmenu-->
        <div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 76px;">
            <nav class="mainmenu">
                {{ sonata_block_render({ 'type': 'sonata.block.service.menu' }, { 'menu_name':'FitbaseFitbaseBundle:Builder:mainMenu' }) }}
            </nav>
        </div>
        <!-- End mainmenu-->
    </div>
    {#<!-- End Adds Header-->#}
</div>