<h4 class="">{{ 'company.questionnaire.create'|trans({}, 'FitbaseCompanyBundle') }}</h4>
<p>{{ 'company.questionnaire.create_description'|trans({}, 'FitbaseCompanyBundle') }}</p>

{% form_theme form 'Company/Block/QuestionnaireCreateForm.html.twig' %}

{{ form(form) }}

