<table class="table table-striped table-hover table-responsive">
    <thead>
    <tr>
        <th style="width: 6%;"></th>
        <th style="width: 7%;"></th>
        <th style="width: 29%;">7 Tage</th>
        <th style="width: 29%;">30 Tage</th>
        <th style="width: 29%;">Absolut</th>
    </tr>
    </thead>
    <tbody>
    <tr class="rank-1">
        <td class="user-ranking no-border"><h4><b>1</b></h4></td>
        <td>
            <div class="feature-box trophy">
                <div class="feature-box-icon rank-1"><i class="icon icon-trophy"><span></span></i></div>
            </div>
        </td>
        %%7days_cell0%%
        %%30days_cell0%%
        %%total_cell0%%
    </tr>

    <tr class="rank-2">
        <td class="user-ranking no-border"><h4><b>2</b></h4></td>
        <td>
            <div class="feature-box trophy">
                <div class="feature-box-icon rank-2"><i class="icon icon-trophy"><span></span></i></div>
            </div>
        </td>
        %%7days_cell1%%
        %%30days_cell1%%
        %%total_cell1%%
    </tr>

    <tr class="rank-3">
        <td class="user-ranking no-border"><h4><b>3</b></h4></td>
        <td>
            <div class="feature-box trophy">
                <div class="feature-box-icon rank-3"><i class="icon icon-trophy"><span></span></i></div>
            </div>
        </td>
        %%7days_cell2%%
        %%30days_cell2%%
        %%total_cell2%%
    </tr>

    <tr>
        <td class="user-ranking no-border"><h4>4</h4></td>
        <td></td>
        %%7days_cell3%%
        %%30days_cell3%%
        %%total_cell3%%
    </tr>

    <tr>
        <td class="user-ranking no-border"><h4>5</h4></td>
        <td></td>
        %%7days_cell4%%
        %%30days_cell4%%
        %%total_cell4%%
    </tr>

    <tr>
        <td class="user-ranking no-border"><h4>6</h4></td>
        <td></td>
        %%7days_cell5%%
        %%30days_cell5%%
        %%total_cell5%%
    </tr>

    <tr>
        <td class="user-ranking no-border"></td>
        <td></td>
        %%7days_cell6%%
        %%30days_cell6%%
        %%total_cell6%%
    </tr>
    </tbody>
</table>