<div class="container">
    <div class="row">
        <div class="col-xs-6">
            {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.questionnaire_statistic' }) }}
        </div>
        <div class="col-xs-6">
            {{ sonata_block_render({ 'type': 'fitbase.block.dashboard_forest' }) }}
        </div>
        <div class="col-xs-6">
            {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.focus_statistic' }) }}
        </div>
        <div class="col-xs-6">
            {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.user_statistic' }) }}
        </div>
    </div>
</div>