{% extends "FitbaseCompanyBundle::company.html.twig" %}


{% block content %}

    <div class="wrap" style="margin: 11px 15px 0px 15px;">
        <h2>
            Neuen Unternehmen hinzufügen
            <a class="add-new-h2" href="?page=company_list">
                Zurück zur Liste
            </a>
        </h2>

        {% for message in flashbag.get('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

        {% form_theme form 'FitbaseCompanyBundle:Company:form.html.twig' %}

        {{ form(form) }}

    </div>



{% endblock content %}