<style>
    .ui-accordion .ui-accordion-header {
        margin-top: 15px;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: none !important;
        font-weight: normal !important;
        color: #003B71 !important;
        background: none !important;

    }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover {
        border: none !important;
        font-weight: normal !important;
        color: #003B71 !important;
        background: none !important;
    }

    .ui-helper-reset {
        line-height: 27px !important;
    }

</style>
<div class="panel panel-default">

    <div class="panel-body">
        <h4 class="short hue">Wohlfühlgespräch</h4>

        <p>
            Das Wohlfühlgespräch befragt Sie täglich nach Ihrem
            Befinden und hilft Ihnen damit sich besser zu reflektieren.
        </p>

        <div id="accordion">
            <div id="avatar_chat">
                <div class="chat-message alert alert-info">
                    <strong>Nur Ihre aktuelle Stimmung und Ihre glücklichen Momente werden gespeichert!</strong>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            jQuery(function () {
                jQuery('#avatar_chat').chat({
                    'width': '100%',
                    'padding': '8px',
                    'height': '278px',
                    'overflow-y': 'scroll'
                });
            });
        </script>
    </div>
</div>


