{% extends "FitbaseGamificationBundle::ajax.html.twig" %}

{% block content %}
    <div class="chat-message alert alert-info">
        <strong>Wie geht es Ihnen heute?</strong>

        {% form_theme form "FitbaseGamificationBundle:Dashboard:form.html.twig" %}

        {{ form(form) }}

    </div>
{%- endblock content %}
