<div class="panel panel-default">
    <div class="panel-body">
        <h4 class="short hue">
            Zu {{ company|forestPercent }}% ist der Wald
            bereits begrünt!
        </h4>
        {% include 'FitbaseGamificationBundle:Service:forest.html.twig' with { 'percent': company|forestPercent } %}
    </div>
</div>