<div class="panel panel-default">
    <div class="panel-body">

        <h4 class="short hue">Ihre Aktivität</h4>

        <div id="chart"></div>


        <script type="text/javascript">
            (function ($) {
                $(document).ready(function () {

                    var line1 = [
                        {% if statistic|length > 0 %}
                        {% for record in statistic %}
                        ["{{ record.date|date('Y.m') }}", parseInt("{{ record.count_point_total }}")]
                        {% if loop.index != loop.last %}, {% endif %}
                        {% endfor %}
                        {% endif %}
                    ];

                    var line2 = [
                        {% if statistic|length > 0 %}
                        {% for record in statistic %}
                        ["{{ record.date|date('Y.m.d') }}", parseInt("{{ record.count_point_total }}")]
                        {% if loop.index != loop.last %}, {% endif %}
                        {% endfor %}
                        {% endif %}
                    ];


                    var plot2 = $.jqplot('chart', [line1, line2], {
                        series: [
                            {renderer: $.jqplot.BarRenderer},
                            {xaxis: 'x2axis', yaxis: 'y2axis'}
                        ],
                        axesDefaults: {
                            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                            tickOptions: {
                                angle: 30
                            }
                        },
                        axes: {
                            xaxis: {
                                renderer: $.jqplot.CategoryAxisRenderer
                            },
                            x2axis: {
                                renderer: $.jqplot.CategoryAxisRenderer
                            },
                            yaxis: {
                                autoscale: true
                            },
                            y2axis: {
                                autoscale: true
                            }
                        }
                    });
                });


            })(jQuery);

        </script>


    </div>
</div>