{% extends "FitbaseGamificationBundle::dashboard.html.twig" %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 class="short hue">
                Ihr Gesundheitsbaum
            </h4>

            {% if tree is defined %}
                {{ image(tree)|raw }}
                {#{{ tree|raw }}#}
            {% endif %}


            {% if points is defined and points %}
                <p>Sie haben {{ points }} Blätter gesammelt </p>
            {% else %}
                <p>Sie haben noch keine Blätter gesammelt </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
