<div class="panel panel-default">
    <div class="panel-body">
        <h4 class="short hue">
            Zu {{ percent }}% ist Ihr Baum
            bereits begrünt!
        </h4>
        {% if gamification is defined and gamification %}
            {{ gamification.tree|raw }}
            <script type="text/javascript">
                jQuery(function () {
                    var container = jQuery(document);
                    container.trigger({
                        type: 'percentHealthUser',
                        percent: '{{ percent }}'
                    });
                });
            </script>
        {% endif %}
    </div>
</div>

