
{% extends '::layout.html.twig' %}


{% block page_content %}
    <div class="row page-content">
        {% if content is defined %}
            {{ content|raw }}
        {% else %}
            {% set content = block('content') %}
            {% if content|length > 0 %}
                {{ content|raw }}
            {% elseif page is defined %}
                {{ sonata_page_render_container('content', page) }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}


{% block sonata_page_breadcrumb %}{% endblock %}
