<!-- Content Text-->
<div class="panel-box">
    <div class="titles title-image-bottom">
        <h4>{{ 'Ihre Aktivität'|trans({}, 'FitbaseGamificationBundle') }}</h4>
    </div>


    <ul class="single-carousel owl-carousel owl-theme" style="display: block; margin-bottom: 20px;">
        <div class="owl-wrapper-outer autoHeight">
            <div class="owl-wrapper" style="left: 0px; display: block;">
                <div class="owl-item">
                    <li>

                        <img class="img-responsive" title="{{ 'Ihre Statistic'|trans({}, 'FitbaseGamificationBundle') }}"
                             src="{{ path('gamification_picture_statistic') }}">
                    </li>
                </div>
            </div>
        </div>
    </ul>


</div>
