{% extends 'Gamification/Dashboard/DashboardActivity.html.twig' %}

{% block content %}
    <p>
        Durch einen Klick auf den Button
        gelangen Sie direkt zur heutigen Übung.
    </p>
    <a href="{{ path('focus') }}" class="btn btn-primary btn-block">
        Zum Ernährungstagebuch
    </a>

    <br/>
{% endblock %}


