{% extends 'Gamification/Dashboard/UserActivity.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <p>{{ 'gamification.dashboard_activity_stress_info'|trans({}, 'FitbaseGamificationBundle') }}</p>
        </div>
        <div class="col-xs-12">
            <a href="{{ path('focus') }}" class="btn btn-primary btn-block">
                {{ 'gamification.dashboard_activity_stress'|trans({}, 'FitbaseGamificationBundle') }}
            </a>
        </div>
    </div>
{% endblock %}


