{% extends 'Gamification/Dashboard/UserActivity.html.twig' %}

{% block content %}
    <p>{{ 'gamification.dashboard_activity_feeding_info'|trans({}, 'FitbaseGamificationBundle') }}</p>
    <a href="{{ path('focus') }}" class="btn btn-primary btn-block">
        {{ 'gamification.dashboard_activity_feeding'|trans({}, 'FitbaseGamificationBundle') }}
    </a>
    <br/>
{% endblock %}


