[submodule "vendor/doctrine/migrations"]
	path = vendor/doctrine/migrations
	url = git://github.com/doctrine/migrations.git
[submodule "vendor/doctrine/data-fixturess"]
	path = vendor/doctrine/data-fixtures
	url = git://github.com/doctrine/data-fixtures.git
[submodule "vendor/doctrine/doctrine-migrations-bundle/Doctrine/Bundle/MigrationsBundle"]
	path = vendor/doctrine/doctrine-migrations-bundle/Doctrine/Bundle/MigrationsBundle
	url = git://github.com/doctrine/DoctrineMigrationsBundle.git
[submodule "vendor/friendsofsymfony/comment-bundle/FOS/CommentBundle"]
	path = vendor/friendsofsymfony/comment-bundle/FOS/CommentBundle
	url = git://github.com/FriendsOfSymfony/FOSCommentBundle.git
[submodule "vendor/sonata-project/comment-bundle"]
	path = vendor/sonata-project/comment-bundle
	url = git://github.com/sonata-project/SonataCommentBundle.git
[submodule "vendor/sonata-project/datagrid-bundle"]
	path = vendor/sonata-project/datagrid-bundle
	url = git://github.com/sonata-project/SonataDatagridBundle.git
[submodule "vendor/sonata-project/ecommerce"]
	path = vendor/sonata-project/ecommerce
	url = git://github.com/sonata-project/ecommerce.git
[submodule "vendor/sonata-project/timeline-bundle"]
	path = vendor/sonata-project/timeline-bundle
	url = git://github.com/sonata-project/SonataTimelineBundle.git
[submodule "vendor/stephpy/TimelineBundle"]
	path = vendor/stephpy/TimelineBundle
	url = git://github.com/stephpy/timeline-bundle.git
