{% use "FitbaseReminderBundle:Block:reminder_exercise_form.html.twig" %}

{% block button_row -%}
    <p>
        Klicken Sie auf speichern, wenn Sie Änderungen vorgenommen haben
    </p>
    {% set vars =  { 'attr': { 'class': 'btn btn-default' }} %}
    {{- form_widget(form, vars) -}}
{%- endblock button_row %}
