<div class="row">
    <div class="col-md-8">
        <h3>{{ 'user.questionnaire.focus_determine'|trans({}, 'FitbaseUserBundle') }}</h3>

        <p>{{ 'user.questionnaire.focus_determine_info'|trans({}, 'FitbaseUserBundle') }}</p>

        <a href="{{ path('user_focus_category_questionnaire', { 'unique': questionnaire.id }) }}"
           class="btn btn-primary">
            {{ 'user.questionnaire.focus_determine_button'|trans({}, 'FitbaseUserBundle') }}
        </a>

    </div>
</div>
