<div class="row">
    <div class="col-md-12">
        <h3>{{ 'Übungsschwerpunkt ermitteln'|trans({}, 'FitbaseUserBundle') }}</h3>


        <p></p>

        <a href="{{ path('user_focus_category_questionnaire', { 'unique': questionnaire.id }) }}" class="btn btn-primary">
            {{ questionnaire }}
        </a>

    </div>
</div>
