<a href="{{ path('sonata_admin_user_weeklytasks', {'unique': object.id}) }}" class="btn btn-sm btn-default view_link"
   title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-zoom-in"></i>
    {{ 'Infoeinheiten freischalten'|trans({}, 'SonataAdminBundle') }}
</a>


