{% if exercise is defined and exercise %}
    {% if exerciseUserChoice is defined and exerciseUserChoice %}
        <span class="btn btn-primary btn-nohover btn-xs">
            {{ 'exercise.exercise_like'|trans({}, 'FitbaseExerciseBundle') }}
        </span>
    {% else %}
        <a href="?like=true" class="btn btn-info btn-nohover btn-xs">
            {{ 'exercise.exercise_like'|trans({}, 'FitbaseExerciseBundle') }}
        </a>
    {% endif %}
{% endif %}