<div class="panel panel-default">
    <div class="panel-body">

        <h4 class="short hue">
            {{ 'Fokus'|trans({}, 'FitbaseUserBundle') }}
        </h4>

        {{ pie_focus(statistics)|raw }}

    </div>
</div>