<div class="panel-info">

    <div class="panel-body">

        {% if reminder is defined and reminder %}
            {% if reminder.pause is defined and reminder.pause %}
                <div class="row">
                    <div class="col-xs-10 alert alert-info">
                        {{ "reminder.paused" | trans({ 'date':reminder.pauseStart|date('d.m.Y'), 'interval':reminder.pause }, 'FitbaseReminderBundle') }}
                        {{ "reminder.pause_undone" | trans({ }, 'FitbaseReminderBundle') }}
                        <a href="?stoppause=true">
                            {{ "reminder.pause_undone_here" | trans({ }, 'FitbaseReminderBundle') }}
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if form is defined and form %}
            {% if form.vars is defined %}
                {% if form.vars.submitted %}

                    <div class="opened"></div>
                {% endif %}
            {% endif %}

            {% form_theme form "Reminder/Block/ReminderPauseForm.html.twig" %}

            {{ form(form) }}
        {% endif %}


    </div>
</div>