<div class="row">
    <div class="col-md-5">
        <img src="/image/weeklyquiz.jpg" alt="frau-stretching-300x285"/>
    </div>
    <div class="col-md-6" style="padding-left: 40px;">
        Herzlich willkommen zu Ihrem Quiz, mit dem Sie die Möglichkeit erhalten, das Gelernte zu wiederholen und
        Blätter für Ihren Gesundheitsbaum zu sammeln. Bitte beachten Sie, dass mehrere Antworten je Frage
        richtig sein können. Viel Spaß!
    </div>
</div>