{% extends "FitbaseGamificationBundle::modal.html.twig" %}

{% block content %}

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="modal-title">
                            Wählen Sie nun einen Wanderer:
                        </h3>

                        <p class="modal-description">
                            Innerhalb Ihrer Online-Rückenschule leben die fünf Tiere des Qi Gongs. Diese unterstützen
                            Sie dabei Ihre Gesundheit zu verbessern.

                            Ihr Tier begleitet Sie bei all Ihren Übungen und Aufgaben. Im Gegenzug helfen Sie Ihnen
                            dabei einen schönen saftigen grünen Wald aufzubauen und sich weiterzuentwickeln.
                        </p>
                    </div>
                </div>
            </div>

            {% form_theme form "FitbaseGamificationBundle:Popup:form.html.twig" %}

            {{ form(form) }}

            <div class="modal-footer">
            </div>

        </div>
    </div>

{% endblock content %}