{% extends "FitbaseGamificationBundle::modal.html.twig" %}

{% block content %}

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="modal-title">
                            Wählen Sie nun Ihren Charakter für die Online-Rückenschule
                        </h3>
                    </div>
                </div>
            </div>

            {% form_theme form "FitbaseGamificationBundle:Popup:form.html.twig" %}

            {{ form(form) }}

            <div class="modal-footer">
            </div>

        </div>
    </div>

{% endblock content %}