{% use "form.html.twig" %}

{% block checkbox_widget -%}
    <div class="row">
        <div class="col-xs-1">
            <input style="height: auto" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </div>
        <div class="col-xs-11">
            {{ "Ich will das fitbase Profil löschen" | trans({}, 'FitbaseFitbaseBundle') }}
        </div>
    </div>
{%- endblock checkbox_widget %}

