<p>
    Sie können Ihr fitbase Profil löschen, indem Sie unten auf den Button "Profil löschen" klicken. Innerhalb von 2
    Wochen haben Sie dann noch die Möglichkeit, Ihr Profil über die Startseite mit Ihrem Login erneut zu aktivieren.
    Nach Ablauf der 2 Wochen wird der Lösch-Auftrag durchgeführt. Damit einhergehend werden alle Daten unwiderruflich
    gelöscht.
</p>

<div class="row">
    <div class="col-xs-10">

        {% if form is defined and form %}
            {% if form.vars is defined %}
                {% if form.vars.submitted %}

                    <div class="opened"></div>
                {% endif %}
            {% endif %}

            {% form_theme form "User/Block/AccountRemoveForm.html.twig" %}

            {{ form(form) }}
        {% endif %}

    </div>
</div>
