<p>{{ 'user.profile.focus_change_info'|trans({}, 'FitbaseUserBundle') }}</p>

<div class="row">
    <div class="col-xs-10">

        {% if form is defined and form %}
            {% if form.vars is defined %}
                {% if form.vars.submitted %}

                    <div class="opened"></div>
                {% endif %}
            {% endif %}

            {% form_theme form "User/Block/UserProfileFocusForm.html.twig" %}

            {{ form(form) }}
        {% endif %}

    </div>
</div>
