{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ url('sonata_admin_dashboard') }}">
            {% trans %}Dashboard{% endtrans %}
        </a>
    </li>
    <li class="active">Import Actioncodes</li>
{% endblock %}





{% block sonata_page_content_header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <span class="navbar-brand">
                {{ "Import Actioncodes"|trans({}, 'SonataAdminBundle') }}
            </span>
        </div>
    </nav>
{% endblock sonata_page_content_header %}


{% block sonata_admin_content %}

    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}

    <div class="row">
        <div class="col-md-8">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        {{ "General"|trans({}, 'SonataAdminBundle') }}
                    </h4>
                </div>
                <div class="box-body">
                    <div class="sonata-ba-collapsed-fields">
                        {% form_theme form 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock sonata_admin_content %}