{% if collection is defined and collection %}
    {% for answer in collection %}
        {% if answer.description is defined and answer.description %}
            <div class="chat-message alert alert-info">
                <div class="feedback">
                    <span>{{ answer.description }}</span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="chat-message alert alert-info">
    {% if question is defined and question %}
        <strong>{{ question.text }}</strong>
        <p>{{ question.description|raw }}</p>
    {% endif %}

    {% form_theme form "FitbaseGamificationBundle:Gamification:health_chat_form.html.twig" %}

    {{ form(form) }}

</div>