<div class="chat-message alert alert-info">
    <strong>Wie geht es Ihnen heute?</strong>

    {% form_theme form "FitbaseGamificationBundle:Gamification:health_emotion_form.html.twig" %}

    {{ form(form) }}

</div>
