<div class="row">
    <div class="col-md-12">
        <h3 class="modal-title">
            Hallo! Wählen Sie nun Ihren Charakter für die Fitbase.
        </h3>
    </div>
</div>

{% form_theme form "FitbaseGamificationBundle:Block:form.html.twig" %}

{{ form(form) }}