<div class="panel panel-default">

    <div class="panel-body">

        {% if gamification is defined and gamification %}
            <h4 class="short hue">Ihr Charakter</h4>
        {% else %}
            <h4 class="short hue">Wählen Sie bitte einen Avatar</h4>
        {% endif %}
        <p>
            Ich bin Ihr Charakter und begleite Sie durch das Online-Coaching. Für jede Übung, jede
            Infoeinheit und jedes Quiz sammeln Sie Punkte in Form von Blättern und begrünen so Ihren Gesundheitsbaum.
        </p>

        {% if avatar is defined %}
            {{ image(avatar)|raw }}
        {% endif %}
    </div>
    <div class="panel-footer">
        &nbsp;
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var container = $(document);
        container.bind('gamification_dialog_finish', function (event) {
            console.info('gamification_dialog_finish');
        });
    });
</script>

