<div class="panel panel-default">
    <div class="panel-body todays-exercise">
        <h4 class="short hue">
            Führen Sie heute Ihre Übungen durch!
        </h4>

        <p>
            Durch einen Klick auf den Button
            gelangen Sie direkt zur heutigen Übung.
        </p>

        <a href="{{ path('focus') }}" class="btn btn-primary btn-block">
            Heutige Übung starten
        </a>

        <br/>

        <p>
            Durch einen Klick auf den Button
            gelangen Sie direkt zur Wochenaufgaben und die Quizze.
        </p>
        <a href="{{ path('page_slug', {'path': '/infoeinheiten'}) }}" class="btn btn-primary btn-block">
            Die Infoeinheiten erledigen
        </a>
        <br/>
    </div>
</div>