<div class="panel panel-default">
    <div class="panel-body" style="height: 414px;">

        <h4 class="short hue">
            {{ 'Ihre Aktivität'|trans({}, 'FitbaseGamificationBundle') }}
        </h4>

        {{ graph(statistic)|raw }}
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var container = $(document);
        container.bind('gamification_dialog_finish', function (event) {
            console.info('gamification_dialog_finish');
        });
    });
</script>