<div class="panel panel-default">
    <div class="panel-body">

        <h4 class="short hue">Ihre Aktivität</h4>

        {{ graph()|raw }}
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var container = $(document);
        container.bind('gamification_dialog_finish', function (event) {
            console.info('gamification_dialog_finish');
        });
    });
</script>