<div class="panel panel-default">
    <div class="panel-body">
        <h4 class="short hue">
            Ihr Gesundheitsbaum
        </h4>

        {% if tree is defined %}
            {#{{ image(tree)|raw }}#}
            {{ tree|raw }}
        {% endif %}
    </div>
    <div class="panel-footer">
        <p>
            {% if points is defined and points %}
                Sie haben {{ points }} Blätter gesammelt
            {% else %}
                Sie haben noch keine Blätter gesammelt
            {% endif %}
        </p>
    </div>
</div>
