<div class="panel panel-default">
    <div class="panel-body panel-dashboard-block">
        <h4 class="short hue">
            {{ 'Der Unternehmenswald'|trans({}, 'FitbaseGamificationBundle') }}
        </h4>

        <img title="{{ 'Der Unternehmenswald'|trans({}, 'FitbaseGamificationBundle') }}"
             src="{{ path('gamification_picture_forest') }}">

    </div>
    <div class="panel-footer">
        <p>
            {% if points is defined and points %}
                Der Unternehmenswald ist bisher mit {{ points }} Blättern begrünt
            {% else %}
                Sie haben noch keine Blätter gesammelt
            {% endif %}
        </p>
    </div>
</div>