<div class="panel panel-default">
    <div class="panel-body panel-dashboard-block">

        <h4 class="short hue">
            {{ 'Ihr Charakter'|trans({}, 'FitbaseGamificationBundle') }}
        </h4>

        <p>
            Ich bin Ihr Charakter und begleite Sie durch das Online-Coaching. Für jede Übung, jede
            Infoeinheit und jedes Quiz sammeln Sie Punkte in Form von Blättern und begrünen so Ihren Gesundheitsbaum.
        </p>

        <img title="{{ 'Ihr Charakter'|trans({}, 'FitbaseGamificationBundle') }}"
             src="{{ path('gamification_picture_avatar') }}">

    </div>
    <div class="panel-footer">
        {% form_theme form "FitbaseGamificationBundle:Block:DashboardAvatarForm.html.twig" %}

        {{ form(form) }}
    </div>
</div>