<div class="row">
    <div class="col-md-10">
        <div class="container-null">

            {% for message in flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}

            {% form_theme form 'FitbaseUserBundle:Medimouse:fields.html.twig' %}
            {{ form(form) }}

        </div>
    </div>
</div>