<div class="titles">
    <h4>{{ 'user.actioncode'|trans({}, 'FitbaseUserBundle') }}</h4>
</div>
<div class="row">
    <div class="col-md-12">
        <p>{{ 'user.actioncode_info'|trans({}, 'FitbaseUserBundle') }}</p>

        {% form_theme form 'User/CodeForm.html.twig' %}
        {{ form(form) }}

    </div>
</div>