<div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5">

        <div class="panel">
            <div class="panel-heading">
                <a href="{{ linkFitbaseNeu }}" class="btn btn-secondary">
                    <img src="/image/app.fitbase.de.png"/>
                </a>
            </div>
            <div class="panel-body col-sm-offset-3">
                <a href="{{ linkFitbaseNeu }}" class="btn btn-primary">
                    Zu app.fitbase.de
                </a>
            </div>
        </div>

    </div>
    <div class="col-xs-5">
        <div class="panel">
            <div class="panel-heading">
                <a href="{{ linkFitbaseAlt }}" class="btn btn-secondary">
                    <img src="/image/coaches.fitbase.de.png"/>
                </a>
            </div>
            <div class="panel-body col-sm-offset-3">
                <a href="{{ linkFitbaseAlt }}" class="btn btn-primary">
                    Zu coaches.fitbase.de
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-1">
    </div>
</div>
