{% use "form.html.twig" %}

{% block button_row -%}
    <div class="row">
        <div class="col-md-12">
            <br/>
            <a href="{{ path('fos_user_resetting_request') }}">
                {{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}
            </a>
        </div>
        <div class="col-md-12">
            {{- form_widget(form, { 'attr': { 'class': 'btn btn-lg btn-primary' }}) -}}
        </div>
    </div>
{%- endblock button_row %}