<div class="titles">
    <h4>{{ 'user.registration'|trans({}, 'FitbaseUserBundle') }}</h4>
</div>
<div class="row">
    <div class="col-md-12">
        <p>{{ 'user.registration_info'|trans({}, 'FitbaseUserBundle') }}</p>
        {% form_theme form 'User/RegistrationForm.html.twig' %}
        {{ form(form) }}
    </div>
</div>
