{% extends "content.html.twig" %}

{% block title %}
    <h1>{{ 'Fitbase Profil löschen'|trans({}, 'FitbaseWeeklytaskBundle') }}</h1>
{% endblock title %}

{% block breadcrumbs %}
    {{ sonata_block_render_event('breadcrumb', { 'context': 'profile', 'current_uri': app.request.requestUri }) }}
{% endblock breadcrumbs %}

{% block content %}
    <div class="panel-box">
        <div class="titles">
            <h4>{{ "Fitbase Profil löschen" | trans({}, 'FitbaseExerciseBundle') }}</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ sonata_block_render( { 'type': 'fitbase.block.account.remove' }) }}
            </div>
        </div>
    </div>
{% endblock content %}