<div class="panel panel-default">
    <div class="panel-body" style="height: 358px;">

        <h4 class="short hue">
            {{ 'Wussten Sie schon, dass...'|trans({}, 'FitbaseGamificationBundle') }}
        </h4>

        <img title="{{ 'Ihr Charakter'|trans({}, 'FitbaseGamificationBundle') }}"
             src="{{ path('fitbase_knowledge_picture') }}">
    </div>
    <div class="panel-footer">
        <p style="padding-top: 5px;">
            {{ 'coming soon... Rezept der Woche'|trans({}, 'FitbaseGamificationBundle') }}
        </p>
    </div>
</div>