<div class="panel-box">
    <div class="titles title-image-bottom">
        <h4>{{ 'Forest'|trans({}, 'FitbaseFitbaseBundle') }}</h4>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-xs-12">

                    Content


                </div>
            </div>

        </div>
    </div>

    <div class="panel-footer">
        Footer
    </div>
</div>