<div class="panel-box">
    <div class="titles title-image-bottom">
        <h4>{{ 'dashboard.statistics'|trans({}, 'FitbaseFitbaseBundle') }}</h4>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12">
                    {{ 'dashboard.statistics_content'|trans({}, 'FitbaseFitbaseBundle') }}
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        {{ 'dashboard.statistics_footer'|trans({}, 'FitbaseFitbaseBundle') }}
    </div>
</div>