<div class="panel panel-default">
    <div class="panel-body todays-exercise">
        <h4 class="short hue">
            Führen Sie heute Ihre Übungen durch!
        </h4>

        <p>
            <small>Durch einen Klick auf den Button
                gelangen Sie direkt zur heutigen Übung.
            </small>
        </p>

        <button type="button" id="start-todays-exercise" data-loading-text="Senden..."
                class="btn btn-primary btn-block">Heutige Übung starten
        </button>

        <br/>

        <p>
            <small>Durch einen Klick auf den Button
                gelangen Sie direkt zur Wochenaufgaben und die Quizze.
            </small>
        </p>
        <a href="/mitgliederbereich/wochenaufgaben/" class="btn btn-primary btn-block">
            Die Wochenaufgaben erledigen
        </a>
        <br/>
    </div>
</div>