<div class="panel panel-default">
    <div class="panel-body">

        <h4 class="short hue">Anzahl der Punkte</h4>

        <svg width="100%" height="100%">
            <polygon points="100,10 40,198 190,78 10,78 160,198"
                     style="fill:lime;stroke:purple;stroke-width:5;fill-rule:evenodd;"/>
        </svg>

    </div>
</div>