{% extends 'FitbaseUserBundle:Subscriber:layout.html.twig' %}


{% block content %}

    {{ sonata_block_render_event('breadcrumb', { 'context': 'questionnaire', 'current_uri': app.request.requestUri }) }}

    <div class="panel-info">
        <h2>{{ 'user.profile.focus_change'|trans({}, 'FitbaseUserBundle') }}</h2>

        <p>{{ 'user.profile.focus_change_info'|trans({}, 'FitbaseUserBundle') }}</p>

        {% include "FitbaseUserBundle:Block:focus.html.twig" %}

    </div>

{% endblock content %}