{% extends 'FitbaseUserBundle:Subscriber:layout.html.twig' %}


{% block content %}

    {{ sonata_block_render_event('breadcrumb', { 'context': 'questionnaire', 'current_uri': app.request.requestUri }) }}

    <div class="panel-info">
        <h2>{{ 'Der Bereichpriorität ändern'|trans({}, 'FitbaseUserBundle') }}</h2>

        <p>
            Ihr persönliches Coaching verläuft nach folgender Reihenfolge. Sie können diese verändern, indem
            Sie einen Bereich mit der linken Maustaste gedrückt halten und verschieben. Wenn Sie
            anschließend auf den Button „Speichern und Coaching aktivieren“ klicken, startet der auf Platz 1
            genannte Bereich.
        </p>

        {% include "FitbaseUserBundle:Block:focus.html.twig" %}

    </div>

{% endblock content %}