{% extends "FitbaseWeeklytaskBundle::modal.html.twig" %}

{% block content %}

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="modal-title">
                            {{ quiz.name }}
                        </h3>

                        <p class="modal-description">
                            {{ quiz.description|raw }}
                        </p>
                    </div>
                </div>
            </div>

            {% form_theme form "FitbaseWeeklytaskBundle::form.html.twig" %}

            {{ form(form) }}

        </div>
    </div>

{% endblock content %}