<div class="row">
    <div class="col-xs-12">
        <h3 class="modal-title">
            {{ weeklyquiz.name }}
        </h3>

        <p class="modal-description">
            {{ weeklyquiz.description|raw }}
        </p>
    </div>
</div>

{% form_theme form "FitbaseWeeklytaskBundle::form.html.twig" %}

{{ form(form) }}

<script type="text/javascript">
    jQuery(function () {

        jQuery(document).on('WeeklyquizUserQuiz', function (event) {


            var form = jQuery('.modal-dialog').find('form');

            console.info(form);

            form.submit(function () {
                jQuery.post(fitbase.weeklyquiz, form.serialize(), function (data) {

                    jQuery('#weeklytask_user_quiz_answer_close')
                            .text('Quiz schlieẞen');

                    jQuery('#weeklytask_user_quiz_answer_save')
                            .remove();

                    var data = jQuery.parseJSON(data)
                    if (typeof(data) != 'undefined') {
                        for (questionId in data) {

                            var notice = data[questionId];
                            if (typeof(notice.text) != 'undefined') {

                                var input = jQuery('input[value=' + questionId + ']');
                                var place = input.closest('label').find('h6');

                                var noticeBlock = '<p class="alert alert-warning">' + notice.text + '</p>';
                                if (notice.correct) {
                                    noticeBlock = '<p class="alert alert-success">' + notice.text + '</p>';
                                }
                                place.after(noticeBlock);
                            }
                        }
                    }
                });
                return false;
            });

        })

        jQuery(document).trigger('WeeklyquizUserQuiz');
    });
</script>