{% extends "FitbaseWeeklytaskBundle::wochenaufgaben.html.twig" %}


{% block content %}


    <div class="wrap" style="margin: 11px 15px 0px 15px;">
        <h2>
            Die Antwort modifizieren
            <a class="add-new-h2" href="?page=wochenquizzen">
                Zurück zur Liste
            </a>
            <a class="add-new-h2" href="?page=wochenquizzen&question_id_edit={{ weeklytaskAnswer.questionId }}">
                Zurück zur Frage
            </a>
        </h2>


        <h2>
            Die Daten der Antwort ändern
        </h2>
        <p>
            Die Beschreibung und der Name werden den Benutzer angezeigt.
        </p>

        {% for message in flashbag.get('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}


        {% form_theme form 'FitbaseWeeklytaskBundle:Weeklytask:form.html.twig' %}

        {{ form(form) }}
    </div>

{% endblock content %}
