{% extends "layout.html.twig" %}


{% use "content.html.twig" %}

{% block title %}
    <h1>{{ 'exception.page_not_found_title'|trans({}, 'FitbaseFitbaseBundle') }}</h1>
{% endblock title %}

{% block breadcrumbs %}
    {{ sonata_block_render_event('breadcrumb', { 'context': 'exercise', 'current_uri': app.request.requestUri }) }}
{% endblock breadcrumbs %}

{% block content %}

    <div class="row">
        <div class="col-md-9">
            <h1>{{ 'exception.page_not_found_code'|trans({}, 'FitbaseFitbaseBundle') }}</h1>

            <p>{{ 'exception.page_not_found'|trans({}, 'FitbaseFitbaseBundle') }}</p>
        </div>
    </div>
{% endblock content %}
