<!-- Content Text-->
<div class="panel-box" style="min-height: 490px;">
    <div class="titles">
        <h4>{{ 'gamification.dashboard_statistics'|trans({}, 'FitbaseGamificationBundle') }}</h4>
    </div>

    <ul class="single-carousel owl-carousel owl-theme" style="display: block; margin-bottom: 20px;">
        <div class="owl-wrapper-outer autoHeight">
            <div class="owl-wrapper" style="left: 0px; display: block;">
                <li>
                    <img class="img-responsive"
                         title="{{ 'gamification.dashboard_statistics'|trans({}, 'FitbaseGamificationBundle') }}"
                         src="{{ path('gamification_picture_statistic') }}">
                </li>
            </div>
        </div>
    </ul>

</div>
