.btn {
    border: 0;
    border-radius: 0;
}

.btn-default {
    background: #e0e0e0;
    background-color: #e0e0e0;
}

.form-theme select {
    margin-bottom: 25px;
    height: 36px;
    border-radius: 0;
    width: 100%;
}

.alert-danger {
    background-image: none;
}

.alert {
    border: none;
    border-radius: inherit;
}

/* fitbase fixes*/
.header-2 .is-sticky .mainmenu .flexnav {
    max-width: 1170px;
    margin: 0 auto;
}

ul.flexnav, .flexnav ul {
    text-align: center !important;
    background-color: #ffffff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.flexnav li {
    width: auto;
    border: none;
    background-color: #ffffff;
}

.flexnav li a {
    width: auto;
    border-color: #ffffff;
    background-color: #ffffff;
}

.flexnav li > ul {
    top: 100%;
}

.flexnav li ul {
    width: auto;
    z-index: 9999;
}

.flexnav li ul li a {
    background-color: #ffffff;
    width: 100%;
}

.flexnav span.touch-button {
    display: none;
}

.flexnav li a.touch-button {
    width: auto;
    height: auto;
    position: initial;
    background-color: #ffffff;
}

/* fitbase fixes*/
