<div class="row">
    {% for category in collection %}
        <div class="col-md-4">
            {% if not category.parent %}
                <h4>{{ category.name }}</h4>
                <a href="">
                    <img src="">
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>
