{{ sonata_block_render_event('breadcrumb', { 'context': 'category', 'current_uri': app.request.requestUri }) }}

<div class="row">

    <div class="col-xs-2">
    </div>

    <div class="col-xs-8">
        {{ sonata_block_render({ 'type': 'fitbase.block.dashboard_dialog' }) }}
    </div>
    <div class="col-xs-2">
    </div>
</div>