<div class="row">
    <div class="col-md-4">
        {% if exercise.video is defined %}
            {% if exercise.video %}
                <video width="320" height="240" controls>
                    <source src="{{ video(exercise.video) }}" type="video/webm">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
        {% endif %}
        {% if exercise.gallery.galleryHasMedias is defined %}
            {% if  exercise.gallery.galleryHasMedias %}
                {% for galleryHasMedia in exercise.gallery.galleryHasMedias %}
                    <a href="{% path galleryHasMedia.media, 'original' %}">
                        {% thumbnail galleryHasMedia.media, 'preview' with {'width': 300} %}
                    </a>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-8">
        {{ exercise.description|raw }}
    </div>
</div>
