<a href="{{ path('sonata_admin_email_weeklytask', { 'unique': 1 }) }}" class="btn btn-sm btn-default view_link"
   title="{{ 'Email anzeigen'|trans({}, 'FitbaseWeeklytaskBundle') }}">
    <i class="glyphicon glyphicon-zoom-in"></i>
    {{ 'Email anzeigen'|trans({}, 'FitbaseWeeklytaskBundle') }}
</a>