{% if object.quiz is defined and  object.quiz %}
    <a href="{{ path('sonata_admin_weeklytask_quiz', { 'unique': object.id }) }}"
       class="btn btn-sm btn-default view_link"
       title="{{ 'Quiz anzeigen'|trans({}, 'FitbaseWeeklytaskBundle') }}">
        <i class="glyphicon glyphicon-zoom-in"></i>
        {{ 'Quiz anzeigen'|trans({}, 'FitbaseWeeklytaskBundle') }}
    </a>
{% endif %}