<div class="panel">
    <div class="panel-heading">
        <h2 class="col-sm-offset-1">{{ 'Zugangscode einlösen'|trans({}, 'FitbaseUserBundle') }}</h2>
    </div>
    <div class="panel-body">
        <p>
            Herzlich willkommen auf fitbase.de. Wir freuen uns, Sie begrüßen zu dürfen.
            Bitte geben Sie hier Ihren Zugangscode ein.
        </p>

        {% form_theme form 'FitbaseUserBundle:Registration:form.html.twig' %}
        {{ form(form) }}
    </div>
</div>






