<div class="col-xs-3">
    {% if company is defined and company %}
        {% if company.image is defined and company.image %}
            {% thumbnail company.image, 'icon' with { } %}
        {% else %}
            <img src="/image/logo_footer.png" alt="fitbase.de"/>
        {% endif %}
    {% else %}
        <img src="/image/logo_footer.png" alt="fitbase.de"/>
    {% endif %}
</div>
<div class="col-xs-3">
    <strong>Über uns</strong>

    <p>
        Fitbase arbeitet hart daran die Arbeitswelt gesünder zu machen. Wie? Wir bieten Arbeitnehmern und Arbeitgebern
        innovative Online Gesundheits-Coaches an, insbesondere für die Bereiche physische Gesundheit, mentale Gesundheit
        und
        Ernährung.
    </p>
</div>
<div class="col-xs-3">
    <strong>Kontakt Informationen</strong>

    <div>Büro Hamburg</div>
    <div> Litzowstr. 13</div>
    <div> 22041 Hamburg</div>
    <div> Telefon: 04154 – 59 88 033</div>
    <div> Email: info@fitbase.de</div>
</div>
<div class="col-xs-2">
    <strong>Mitgliedschaft</strong>

    <div>Mitglied im Deutschen</div>
    <div> Netzwerk für Betriebliche Gesundheitsförderung</div>
    <img src="/image/dnbgf.png" alt="DNBGF"/>
</div>

<div class="col-xs-12" style="text-align: center;">
    © Fitbase.de 2013 - <a href="https://www.fitbase.de/impressum/">Impressum</a> | <a
            href="https://www.fitbase.de/agb/">AGB</a> | <a
            href="https://www.fitbase.de/datenschutz/">Datenschutz</a>
</div>
