<div class="col-xs-8 col-xs-offset-2">
    <img src="/image/logo_footer.png" alt="fitbase.de"/>
</div>
<div class="col-xs-8 col-xs-offset-2">
    © Fitbase.de 2015 - <a href="https://www.fitbase.de/impressum/">Impressum</a> | <a
            href="https://www.fitbase.de/agb/">AGB</a> | <a
            href="https://www.fitbase.de/datenschutz/">Datenschutz</a>
</div>
