<style>
    .page-header {
        margin-top: 10px !important;
    }

    .container {
        max-width: 100% !important;
        width: 100% !important;
        height: 100%;

    }

    .content {
        padding-bottom: 30px;
        width: 100% !important;
        max-width: 1000px !important;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        min-height: 100%;
    }

    .sonata-bc .page-footer {
        border: none;
        color: #909090;
        background-color: #f5f5f5 !important;
    }

    .page-footer {
        font-size: smaller;
    }

    .page-content > div {
        margin: 10px;
    }

    .page-header > ul {
        margin: 10px;
    }

    html, body {
        height: 90%;
    }


</style>
<div class="col-md-12" style="margin-top: 8px; margin-bottom: 20px; width: 50%;">

    {% set logo = '/image/logo.png' %}

    {% if company is defined and company %}

        <style class="company">

            {% if company.header is defined and company.header %}
                .page-header {
                    background-color: #{{ company.header }};
                }
            {% endif %}

            {% if company.background1 is defined and company.background1 %}
                .page-content {
                    background-color: #{{ company.background1 }};
                }
            {% endif %}

            {% if company.background2 is defined and company.background2 %}
                body.sonata-bc {
                    background-color: #{{ company.background2 }};
                }
            {% endif %}

        </style>


        {% if company.image is defined and company.image %}
            {% set logo = null %}
            {% thumbnail company.image, 'thumbnail' %}
        {% endif %}
    {% endif %}

    {% if logo is defined and logo %}
        <img src="{{ logo }}"/>
    {% endif %}

</div>