<div class="row scroll">
    {% for weeklytaskUser in weeklytasks %}
        {% set weeklytask = weeklytaskUser.task %}
        {% if weeklytask is defined and weeklytask %}
            <div class="panel-box">
                <div class="titles title-image-bottom">
                    <h4 class="text-cut">{{ weeklytask.name }}</h4>
                </div>
                <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer autoHeight">
                        <div class="owl-wrapper" style="left: 0px; display: block;">
                            <li>
                                <div class="info-single-carousel">
                                    <p>
                                        {% autoescape false %}
                                            {{ weeklytask.content|raw|striptags|slice(0,140) }}...
                                        {% endautoescape %}

                                        <a href="{{ path('weeklytask_user_view', {'unique': weeklytaskUser.id}) }}">
                                            {{ "Mehr..." | trans({}, 'FitbaseExerciseBundle') }}
                                        </a>
                                    </p>
                                </div>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        {% endif %}
    {% endfor %}
</div>
