<div class="row">
    {% for exerciseChoice in collection %}
        {% set exercise = exerciseChoice.exercise %}
        <div class="col-xs-12">
            <div class="well">
                <div class="row thumb-info">
                    {% if exercise.image is defined %}
                        <div class="col-xs-12">
                            <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                {% thumbnail exercise.image, 'thumbnail' %}
                            </a>
                        </div>
                    {% endif %}
                    <div class="col-xs-12 thumb-info-title">
                        <a class="thumb-info-inner" href="{{ path('exercise', { 'unique': exercise.id}) }}">
                            {{ exercise.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>