{% extends "FitbaseQuestionnaireBundle::modal.html.twig" %}


{% block content %}
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="modal-title">
                            {{ quiz.name }}
                        </h3>

                        <p class="modal-description">
                            {{ quiz.description|raw }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        Sie haben das Quiz schon bearbeitet.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" class="btn btn-primary" name="save" type="submit">
                    Fenster schliessen
                </a>
            </div>

        </div>
    </div>
{% endblock content %}