{% if weeklytaskUser %}
    <div class="main">
        {% if weeklytaskUser.done %}
            <div class="big-button center">
                <img src="/wp-content/uploads/icon_check_green.png" alt="{{ weeklytaskUser.postId|postTitle }}"/>
                <strong>Diese Wochenaufgabe wurde bereits erledigt</strong>
            </div>
        {% else %}
            <div class="big-button center">
                <a href="?processed=true" class="btn btn-primary">
                    Ich habe diese Aufgabe erledigt
                </a>
            </div>
        {% endif %}
    </div>
{% endif %}

