{{ sonata_block_render_event('breadcrumb', { 'context': 'weeklytask_user', 'current_uri': app.request.requestUri }) }}

<div class="row">
    <div class="col-md-3">
        {% set weeklytask = weeklytaskUser.task %}
        {{ sonata_block_render({ 'type': 'fitbase.block.weeklytask_collection' }, {
            'categories': weeklytask.categories
        }) }}
    </div>
    <div class="col-md-9 top10">
        {{ sonata_block_render({ 'type': 'fitbase.block.weeklytask' }, {
            'weeklytaskUser': weeklytaskUser
        }) }}
    </div>
</div>