<!-- Content Text-->
<div class="panel-box">
    <div class="titles title-image-bottom">
        <h4>{{ 'Wussten Sie schon, dass...'|trans({}, 'FitbaseGamificationBundle') }}</h4>
    </div>


    <ul class="single-carousel owl-carousel owl-theme" style="display: block; margin-bottom: 20px;">
        <div class="owl-wrapper-outer autoHeight">
            <div class="owl-wrapper" style="left: 0px; display: block;">
                <div class="owl-item">
                    <li>
                        <img class="img-responsive" src="{{ path('fitbase_knowledge_picture') }}">

                    </li>
                </div>
            </div>
        </div>
    </ul>

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-xs-12">
                    <p>
                        {{ 'coming soon... Rezept der Woche'|trans({}, 'FitbaseGamificationBundle') }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>