<!-- Content Text-->
<div class="panel-box">
    <div class="titles">
        <h4>{{ 'Wussten Sie schon, dass...'|trans({}, 'FitbaseGamificationBundle') }}</h4>
    </div>


    <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block; height: 430px;">
        <div class="owl-wrapper-outer autoHeight">
            <div class="owl-wrapper" style="left: 0px; display: block;">
                <div class="owl-item">
                    <li>
                        <img src="{{ path('fitbase_knowledge_picture') }}">

                        <div class="info-single-carousel">
                            <p>
                                {{ 'coming soon... Rezept der Woche'|trans({}, 'FitbaseGamificationBundle') }}
                            </p>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </ul>
</div>