<!-- Content Text-->
<div class="panel-box" style="min-height: 525px;">
    <div class="titles title-image-bottom">
        <h4>{{ 'knowledge.dashboard_knowledge'|trans({}, 'FitbaseKnowledgeBundle') }}</h4>
    </div>

    <ul class="single-carousel owl-carousel owl-theme" style="display: block; margin-bottom: 20px;">
        <div class="owl-wrapper-outer autoHeight">
            <div class="owl-wrapper" style="left: 0px; display: block;">
                <li>

                    {% if knowledge is defined and knowledge %}
                        <div class="text-over-image">
                            <span>{{ knowledge.content }}</span>

                            <div class="crumbs pointer" style="padding: 0px;"></div>
                        </div>
                    {% endif %}

                    <img class="img-responsive" src="{{ path('fitbase_knowledge_picture') }}">

                </li>
            </div>
        </div>
    </ul>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ 'knowledge.dashboard_coming_soon'|trans({}, 'FitbaseKnowledgeBundle') }}</p>
                </div>
            </div>
        </div>
    </div>
</div>