{% extends '::email.html.twig' %}

{% block content %}
    <div class="row" style="min-height: 300px;">
        {% if  task is defined %}
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if user is defined and user %}
                    <p>Guten Tag {{ user.firstname }} {{ user.lastname }},</p>
                {% endif %}
                wir haben ein kleines Quiz für Sie vorbereitet, mit dem Sie Ihr Wissen zur letzten Info-Einheit
                überprüfen und damit Blätter für Ihren Gesundheitsbaum sammeln können. Viel Spaß und einen schönen
                Tag wünscht Ihnen fitbase!

                <br/>
                <br/>

                <a class="true btn btn btn-success btn-ds"
                   href="{{ sign(user, url('weeklyquiz_user_view', {'unique': userQuiz.id})) }}"
                   style="display: block; margin-left: auto; margin-right: auto; width: 200px;">
                    Quiz starten
                </a>

            </div>
            <div class="col-md-3"></div>
        {% endif %}
    </div>
{% endblock content %}