{% extends '::email.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            Wenn die E-Mail nicht richtig angezeigt wird, klick
            {% if userTask is defined %}
                <a href="{{ url('weeklytask_user_view', {'unique': userTask.id}) }}">
                    hier
                </a>
            {% endif %}
        </div>
        {% if  task is defined %}
            <div class="col-md-12">
                <h2>{{ task.name|raw }}</h2>

                <p>{{ task.content|raw }}</p>
            </div>
        {% endif %}
    </div>
{% endblock content %}