{% extends '::email.html.twig' %}

{% block content %}
    <div class="row" style="min-height: 300px;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if user is defined and user %}
                <p>Guten Tag {{ user.firstname }} {{ user.lastname }},</p>

                {% set focus = user.focus %}
                {% if focus is defined and focus %}
                    Hiermit möchten wir Sie an Ihre {{ focus.name }}-Übung erinnern.
                    Bitte klicken Sie auf das Button, um direkt zur Übung zu gelangen.

                    Viel Spaß und einen schönen Tag wünscht Ihnen die Fitbase!

                    <br/>
                    <br/>

                    {% if exerciseUser is defined and exerciseUser %}
                        <p>
                            <a class="true btn btn btn-success btn-ds"
                               href="{{ sign(user, url('exercise_user', { 'unique': exerciseUser.id, 'step': 0, '_sonata_page_skip': true })) }}"
                               style="display: block; margin-left: auto; margin-right: auto; width: 200px;">
                                Mein Focus
                            </a>
                        </p>
                    {% endif %}

                {% endif %}
            {% endif %}

        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock content %}