{% extends 'FitbaseUserBundle:Wizard:layout.html.twig' %}


{% block content %}

    <div class="panel-info">
        <h2>{{ 'Fokus einstellungen'|trans({}, 'FitbaseUserBundle') }}</h2>

        <div class="row">
            <div class="col-xs-6">
                <h3>{{ 'Übungsschwerpunkt'|trans({}, 'FitbaseUserBundle') }}</h3>
                Wählen Sie hier Ihren Übungsschwerpunkt. Der tägliche Reminder wird Sie künftig zu einer Übungseinheit
                aus diesem Bereich führen. Wenn Sie einen Schwerpunkt festlegen, erhalten Sie abwechselnd Übungen aus
                dem ausgewählten Bereich.
            </div>
            <div class="col-xs-6">
                <h3>{{ 'Übungstyp'|trans({}, 'FitbaseUserBundle') }}</h3>
                Jede Übungseinheit besteht aus drei Übungen der Kategorien “Mobilisation”, “Kräftigung” und “Dehnung”.
                Sie können diese Zusammenstellung individualisieren, indem Sie folgende Auswahl treffen.
            </div>
        </div>

        {% form_theme form 'FitbaseUserBundle:Block:Focus/settings_back_form.html.twig' %}

        {{ form(form) }}

    </div>
{% endblock content %}