{% extends 'FitbaseQuestionnaireBundle::layout.html.twig' %}

{% block content %}

    {{ sonata_block_render_event('breadcrumb', { 'context': 'default', 'current_uri': app.request.requestUri }) }}

    <div class="modal-header">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="modal-title">
                    {{ questionnaire }}
                </h3>
            </div>
        </div>
    </div>

    {% form_theme form "FitbaseQuestionnaireBundle:QuestionnaireStatistic:form_slice.html.twig" %}

    {{ form(form) }}

{% endblock %}
