{% extends "FitbaseQuestionnaireBundle::modal.html.twig" %}


{% block content %}
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="modal-title">Ihre Auswertung</h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Allgemeiner Gesundheitszustand</h4>

                        <p style="height: 150px; line-height: 21px; font-size: 13px;">
                            {{ questionnaireUser.countPointHealth|health|recommendation1 }}
                        </p>

                        <div class="circular-bar center">
                            <input data-displayinput="false" value="{{ questionnaireUser.countPointHealth|health }}"
                                   data-linecap="round" class="knob"
                                   style="display: none;">

                            <div class="circular-bar-content">
                                <strong>0%</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>&nbsp;<br/>Belastungsprofil</h4>

                        <p style="height: 150px; line-height: 21px; font-size: 13px;">
                            {{ questionnaireUser.countPointStrain|strain|recommendation2 }}
                        </p>

                        <div class="circular-bar center">
                            <input data-displayinput="false" data-readonly="true"
                                   value="{{ questionnaireUser.countPointStrain|strain }}"
                                   data-linecap="round" class="knob" style="display: none;" readonly="readonly">

                            <div class="circular-bar-content">
                                <strong>0%</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 0px;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Fenter schließen
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}