{% extends "FitbaseQuestionnaireBundle::modal.html.twig" %}


{% block content %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Willkommen bei „Fitbase“</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            <b>Guten Tag {{ user.displayName }},</b>
                            <br/>wir freuen uns sehr, Sie bei „Fitbase“ begrüßen zu dürfen!
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="?questionnaire=password" class="btn btn-primary">
                    Weiter
                </a>
            </div>
        </div>
    </div>
{% endblock content %}