{% extends 'knp_menu.html.twig' %}

{% block root %}
    {% set listAttributes = item.childrenAttributes %}
    {{ block('list') -}}
    <div class="menu-button">
        Menu
    </div>
{% endblock %}