<div class="panel panel-default">
    <div class="panel-body">

        {% if category is defined and category %}
            <h4 class="short hue">
                {% if category.slug == "stress" %}
                    {{ 'Stress Barometer'|trans({}, 'FitbaseUserBundle') }}
                    <span class="tooltip-popup"
                          title="Das Stress Barometer wertet die Stress-bezogenen Fragen in der Bedarfsanalyse aus."
                          style="float: right; font-size: 12px">
                        Info
                    </span>
                {% elseif category.slug == "ruecken" %}
                    {{ 'Rücken Barometer'|trans({}, 'FitbaseUserBundle') }}
                    <span class="tooltip-popup"
                          title="Das Rücken Barometer wertet die Rücken-bezogenen Fragen in der Bedarfsanalyse aus."
                          style="float: right; font-size: 12px">
                        Info
                    </span>
                {% else %}
                    {{ category.name }}
                {% endif %}
            </h4>
        {% endif %}

        <div class="row">
            <div class="col-xs-10">
                {% set icon = "/image/dashboard_ruecken.png" %}
                {% if category is defined and category %}
                    {% if category.slug == "stress" %}
                        {% set icon = "/image/dashboard_stress.png" %}
                    {% endif %}
                {% endif %}
                <img src="{{ icon }}">
            </div>
        </div>

    </div>
</div>