<div class="panel panel-default">
    <div class="panel-body">

        <h4 class="short hue">
            {% if category.slug == "stress" %}
                {{ 'Stress Barometer'|trans({}, 'FitbaseUserBundle') }}
                <span class="tooltip-popup"
                      title="Das Stress Barometer wertet die Stress-bezogenen Fragen in der Bedarfsanalyse aus."
                      style="float: right; font-size: 12px">
                        Info
                    </span>
            {% elseif category.slug == "ruecken" %}
                {{ 'Rücken Barometer'|trans({}, 'FitbaseUserBundle') }}
                <span class="tooltip-popup"
                      title="Das Rücken Barometer wertet die Rücken-bezogenen Fragen in der Bedarfsanalyse aus."
                      style="float: right; font-size: 12px">
                        Info
                    </span>
            {% else %}
                {{ category.name }}
            {% endif %}
        </h4>

        <div class="row">
            <div class="col-xs-10">
                {% if category.slug == "stress" %}
                    <img src="/image/dashboard_stress.png">
                {% else %}
                    <img src="/image/dashboard_ruecken.png">
                {% endif %}
            </div>
        </div>

    </div>
</div>