<a href="{{ path('sonata_admin_email_exercise_user', { 'unique': object.id }) }}" class="btn btn-sm btn-default view_link"
   title="{{ 'Email anzeigen'|trans({}, 'FitbaseExerciseBundle') }}">
    <i class="glyphicon glyphicon-zoom-in"></i>
    {{ 'Email anzeigen'|trans({}, 'FitbaseExerciseBundle') }}
</a>