{% extends 'Exercise/Category/Category.html.twig' %}


{% block content_category %}
    <div class="row">
        <div class="col-md-9">
            {{ sonata_block_render({ 'type': 'fitbase.block.exercise_random' }, { 'category': category }) }}
        </div>

        {% if exercises is defined %}
            <div class="col-md-3">
                {% for exercise in exercises %}
                    <div class="panel-box">
                        <div class="titles title-image-bottom">
                            <h4>
                                <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                    {{ exercise.name }}
                                </a>
                            </h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
