{% extends 'Exercise/Category/Category.html.twig' %}


{% block content_category %}
    <div class="row">
        <div class="col-md-12">
            {{ sonata_block_render({ 'type': 'fitbase.block.exercise_random' }, { 'category': category }) }}
        </div>
    </div>
{% endblock %}



