{% extends 'Exercise/Category/Category.html.twig' %}


{% block content_category %}
    <div class="row">
        <div class="col-md-9">
            {{ sonata_block_render({ 'type': 'fitbase.block.exercise_random' }, { 'category': category }) }}
        </div>

        {% if exercises is defined %}
            <div class="col-md-3">
                {% for exercise in exercises %}
                    <div class="panel-box">
                        <div class="titles title-image-bottom">
                            <div class="titles title-image-bottom">
                                <h4 class="text-cut">{{ exercise.name }}</h4>
                            </div>
                            <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
                                <div class="owl-wrapper-outer autoHeight">
                                    <div class="owl-wrapper" style="left: 0px; display: block;">
                                        <li>
                                            <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                                {% thumbnail exercise.image, 'original'  with {'title': null, 'class': 'img-responsive' } %}
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
