{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle:Security:base_login.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">

            <div class="panel">
                <div class="panel-heading">
                    <a href="{{ linkFitbaseNeu }}" class="btn btn-secondary">
                        <img src="/image/app.fitbase.de.png"/>
                    </a>
                </div>
                <div class="panel-body col-sm-offset-3">
                    <a href="{{ linkFitbaseNeu }}" class="btn btn-primary">
                        Zu app.fitbase.de
                    </a>
                </div>
            </div>

        </div>
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-heading">
                    <a href="{{ linkFitbaseAlt }}" class="btn btn-secondary">
                        <img src="/image/coaches.fitbase.de.png"/>
                    </a>
                </div>
                <div class="panel-body col-sm-offset-3">
                    <a href="{{ linkFitbaseAlt }}" class="btn btn-primary">
                        Zu coaches.fitbase.de
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
{% endblock fos_user_content %}
